<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.star.monkey.controller,
                                            com.star.monkey.robot.controller"/>

    <!--<beans:bean-->
            <!--class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">-->
        <!--<beans:property name="order" value="1" />-->
        <!--<beans:property name="mediaTypes">-->
            <!--<beans:map>-->
                <!--<beans:entry key="json" value="application/json" />-->
                <!--<beans:entry key="xml" value="application/xml" /> &lt;!&ndash; SPR-7504 &ndash;&gt;-->
            <!--</beans:map>-->
        <!--</beans:property>-->
        <!--<beans:property name="ignoreAcceptHeader" value="true" />-->
    <!--</beans:bean>-->

    <annotation-driven/>
    <default-servlet-handler/>

    <beans:bean id="jspViewResolver"
                class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <beans:property name="prefix" value="/WEB-INF/jsp/"/>
        <beans:property name="suffix" value=".jsp"/>
    </beans:bean>

    <!--<beans:bean id="jsonViewResolver"-->
                <!--class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">-->
    <!--</beans:bean>-->
    <!--<beans:bean id="jaxb2RootElementHttpMessageConverter"-->
                <!--class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter">-->
    <!--</beans:bean>-->

    <!-- 采用AOP记录异常 -->
    <beans:bean id="httpLogAop" class="com.star.monkey.web.aop.ControllerExceptionAop"/>
    <aop:config>
        <aop:pointcut id="controllerHttpLogCut" expression="within(@org.springframework.stereotype.Controller *)"/>
        <aop:advisor pointcut-ref="controllerHttpLogCut" advice-ref="httpLogAop"/>
    </aop:config>

</beans:beans>